<div class="container py-5">
  <div class="row ">
    <div class="col-8 col-lg-6 col-xl-4 mx-auto my-3">
      <div class="card py-4">
        <div class="card-body ">
          <h1 class="card-title text-center">Account Login</h5>
          {{#if noUser}}
          <div class="alert alert-danger text-center mx-auto" role="alert" style="width: 75%;">
            <span class="mr-2">您的Email或密碼不正確</span>
          </div>
          {{/if}}
          
          <div class="d-flex justify-content-center mx-auto">
            <form method="POST" action="/" style="width: 60%;">
              <div class="form-group form-row ">
                <label for="inputEmail4" class="col-form-label ">
                  Email
                </label> 
                <input type="email" name="email" class="form-control"  placeholder="Email">
                
              </div>

              <div class="form-group form-row">
                <label for="inputPassword4" class="col-form-label ">
                  Password
                </label>
                <input type="password" name="password" class="form-control " placeholder="Password">
              </div>
              <button class="btn btn-success mt-4" type="submit">Sign In</button>
            </form>
            </div>
        </div>
      </div>
    </div>

  </div>
</div>